<section class="cwc-search">
  {{ form }}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        {% if search_title %}
          <h2>{{ search_title }}</h2>
        {% endif %}

        {% if no_of_results %}
          <p>{{ no_of_results }}</p>
        {% endif %}

        {{ no_results_found }}

        {{ search_help }}

        {{ results }}

        {{ pager }}
      </div>
    </div>
  </div>
</section>
