{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ content.field_media_image }}
  <div class="info-wrapper">
    <h2 class="teaser-title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
    {% if display_submitted %}
      <div{{ author_attributes.addClass('node__submitted') }}>
        <div class="submitted-item posted-on">{% trans %}Posted on:{% endtrans %} {{ date }}</div>
        <div class="submitted-item posted-by">{% trans %}Posted by:{% endtrans %} {{ author_name|striptags }}</div>
        {{ metadata }}
      </div>
    {% endif %}
    {{ content|without('field_media_image') }}
  </div>

</article>
