{{ attach_library('better_social_sharing_buttons/styling') }}

{# --- Include svg sprite --- #}
<div style="display: none">{% include social_buttons_sprite %}</div>

<div class="social-sharing-buttons">
    <!-- Facebook share button -->
    {% if items.services.facebook %}
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ items.page_url }}&title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Facebook" class="social-sharing-buttons__button facebook-button" rel="noopener">
            <span class="fa fa-facebook"></span>
            <span class="fa fa-facebook hover"></span>
        </a>
    {% endif %}

    <!-- Twitter share button -->
    {% if items.services.twitter %}
        <a href="http://twitter.com/home?status={{ items.title }}+{{ items.page_url }}" target="_blank" title="{{ 'Share to'|t }} Twitter" class="social-sharing-buttons__button twitter-button" rel="noopener">
            <span class="fa fa-twitter"></span>
            <span class="fa fa-twitter hover"></span>
        </a>
    {% endif %}

    <!-- WhatsApp share button -->
    {% if items.services.whatsapp %}
        <a href="https://wa.me/?text={{ items.page_url }}" target="_blank" title="{{ 'Share to'|t }} WhatsApp" class="social-sharing-buttons__button whatsapp-button" rel="noopener">
            <span class="fa fa-whatsapp"></span>
            <span class="fa fa-whatsapp hover"></span>
        </a>
    {% endif %}

    <!-- Facebook Messenger share button -->
    {% if items.services.facebook_messenger %}
        <a href="http://www.facebook.com/dialog/send?app_id={{ items.facebook_app_id }}&link={{ items.page_url }}&redirect_uri={{ url('<current>') }}" target="_blank" title="{{ 'Share to'|t }} Facebook Messenger" class="social-sharing-buttons__button facebook-messanger-button" rel="noopener">
            <svg width="{{ items.width }}" height="{{ items.height }}" style="border-radius:{{ items.radius }};">
                <use xlink:href="{{ social_buttons_sprite }}#messenger" />
            </svg>
        </a>
    {% endif %}

    <!-- Pinterest share button -->
    {% if items.services.pinterest %}
        <a href="http://pinterest.com/pin/create/link/?url={{ items.page_url }}&description={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Pinterest" class="social-sharing-buttons__button pinterest-button" rel="noopener">
            <span class="fa fa-pinterest"></span>
            <span class="fa fa-pinterest hover"></span>
        </a>
    {% endif %}

    <!-- Linkedin share button -->
    {% if items.services.linkedin %}
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ items.page_url }}&title={{ items.title }}&source={{ items.base_url }}" target="_blank" title="{{ 'Share to'|t }} Linkedin" class="social-sharing-buttons__button linkedin-button" rel="noopener">
            <span class="fa fa-linkedin"></span>
            <span class="fa fa-linkedin hover"></span>
        </a>
    {% endif %}

    <!-- Google+ share button -->
    {% if items.services.googleplus %}
        <a href="https://plus.google.com/share?url={{ items.page_url }}" target="_blank" title="{{ 'Share to'|t }} Google+" class="social-sharing-buttons__button googleplus-button" rel="noopener">
            <span class="fa fa-google-plus"></span>
            <span class="fa fa-google-plus hover"></span>
        </a>
    {% endif %}

    <!-- Digg share button -->
    {% if items.services.digg %}
        <a href="http://www.digg.com/submit?phase=2&url={{ items.page_url }}&title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Digg" class="social-sharing-buttons__button digg-button" rel="noopener">
            <span class="fa fa-digg"></span>
            <span class="fa fa-digg hover"></span>
        </a>
    {% endif %}

    <!-- StumbleUpon share button -->
    {% if items.services.stumbleupon %}
        <a href="http://www.stumbleupon.com/submit?url={{ items.page_url }}&title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} StumbleUpon" class="social-sharing-buttons__button stumbleupon-button" rel="noopener">
            <span class="fa fa-stumbleupon"></span>
            <span class="fa fa-stumbleupon hover"></span>
        </a>
    {% endif %}

    <!-- Delicious share button -->
    {% if items.services.delicious %}
        <a href="http://del.icio.us/post?url={{ items.page_url }}&title={{ items.title }}&notes={{ items.description }}" target="_blank" title="{{ 'Share to'|t }} Delicious" class="social-sharing-buttons__button delicious-button" rel="noopener">
            <span class="fa fa-delicious"></span>
            <span class="fa fa-delicious hover"></span>
        </a>
    {% endif %}

    <!-- Slashdot share button -->
    {% if items.services.slashdot %}
        <a href="http://slashdot.org/bookmark.pl?url={{ items.page_url }}&title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Slashdot" class="social-sharing-buttons__button slashdot-button" rel="noopener">
            <svg width="{{ items.width }}" height="{{ items.height }}" style="border-radius:{{ items.radius }};">
                <use xlink:href="{{ social_buttons_sprite }}#slashdot" />
            </svg>
        </a>
    {% endif %}

    <!-- Tumblr share button -->
    {% if items.services.tumblr %}
        <a href="http://www.tumblr.com/share?v=3&u={{ items.page_url }}&t={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Tumblr" class="social-sharing-buttons__button tumblr-button" rel="noopener">
            <span class="fa fa-tumblr"></span>
            <span class="fa fa-tumblr hover"></span>
        </a>
    {% endif %}

    <!-- Reddit share button -->
    {% if items.services.reddit %}
        <a href="http://www.reddit.com/submit?url={{ items.page_url }}&title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Reddit" class="social-sharing-buttons__button reddit-button" rel="noopener">
            <span class="fa fa-reddit"></span>
            <span class="fa fa-reddit hover"></span>
        </a>
    {% endif %}

    <!-- Evernote share button -->
    {% if items.services.evernote %}
        <a href="http://www.evernote.com/clip.action?url={{ items.page_url }}&title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Evernote" class="social-sharing-buttons__button evernote-button" rel="noopener">
            <svg width="{{ items.width }}" height="{{ items.height }}" style="border-radius:{{ items.radius }};">
                <use xlink:href="{{ social_buttons_sprite }}#evernote" />
            </svg>
        </a>
    {% endif %}

    <!-- Email share button -->
    {% if items.services.email %}
        <a href="mailto:?subject={{ items.title }}&body={{ items.page_url }}" title="{{ 'Share to'|t }} E-mail" class="social-sharing-buttons__button email-button" target="_blank" rel="noopener">
            <span class="fa fa-envelope"></span>
            <span class="fa fa-envelope hover"></span>
        </a>
    {% endif %}

    <!-- Copy link share button -->
    {% if items.services.copy %}
        {{ attach_library('better_social_sharing_buttons/copy-current-url') }}
        <button class="btnCopy social-sharing-buttons__button copy-button">
            <span class="fa fa-clipboard"></span>
            <span class="fa fa-clipboard hover"></span>
            <div class="social-sharing-buttons__popup">{{ 'Copied to clipboard'|t }}</div>
        </button>
    {% endif %}

    <script type="text/javascript">

    </script>
</div>
