<div class="pse-news-article">
  <div class="container">
    <h1>{{ label }}</h1>
    <p class="mb-3">{{ node.body.summary }}</p>
    {{ content.body }}
    <hr>
    <h2 class="text-center">{{ 'Related news'|t }}</h2>
    {{ content.field_related_news }}
  </div>
</div>
